@page
@model CarBookingApp.Pages.Cars.DeleteJQModel

@{
    ViewData["Title"] = "DeleteJQ";
}

<h1>DeleteJQ</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Car)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <form asp-page-handler="Delete5" method="post" asp-route-Carid="@item.Id">

                        <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id">
                            <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Edit
                        </a>
                        <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id">
                            <i class="fa fa-book-open" aria-hidden="true"></i>&nbsp;Details
                        </a>
                        <button class="btn btn-danger" onclick="return fnCheck()">
                            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete JQuery
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function fnCheck() {
            swal({
                title: "Delete Confirmation",
                text: "Are you sure to delete",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((confirm) => {
                if (confirm) {
                    alert("Yes");
                }
                else {
                    alert("No");
                }
            });
            return false;
        }
    </script>
}