@page
@model CarBookingApp.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <partial name="_IndexCreateButtonPartial" />
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Make.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].CarModel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].Style.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars[0].RegnNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cars)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Make.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModel.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Style.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegnNo)
                </td>
                <td>
                    @await Html.PartialAsync("_IndexButtonsPartial", item.Id)
                    @*<button class="btn btn-danger deleteBtn" data-id="@item.Id" data-name="@item.RegnNo"></button>*@
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<form asp-page-handler="Delete5" method="post" asp-route-CarId="@item.Id">
        <button class="btn btn-danger" onclick="return confirm('Are you sure to delete car @item.Name?')">
            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete Jscr
        </button>
    </form>*@

<partial name="_IndexDeleteFormPartial" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/DeleteIndexOption.js"></script>

    <script>
    @*$(function () {
        $('.deleteBtn').click(function (e) { // enters to this function when a button is click having the class "deleteBtn"
            var btn = $(this);
            var name = "";
            //name = btn.data("name")

            swal({
                title: "Delete?", // sweet alert parameters
                text: "Are you sure to delete?",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((confirm) => { // enters if clicked OK in the sweet alert
                if (confirm) {
                    var id = btn.data("id") // We have assigned the primary key as item.Id in the button, so it will be bound to each button as id and this primary key and it is fetching.*
                    $('#RecordId').val(id); //The primary key is assigning to the hidden control
                    $('#deleteForm').submit(); // submitting the form
                    //var id = btn.data("name")

                }
            });
        });
    });*@
    </script>


}

